h1 {
    font-weight: 500;
}

.jumbotron {
    background-image: url("assets/images/pinkclouds.jpg");
    background-size: cover;
    color: white;
    padding: 30px;
    text-align: center;
}

.display-4 {
    font-size: 100px;
}

.fa-sun-o {
    color:white;
}

.container {
    font-weight: 300;
}

.row {
    margin: auto;
}

.search-city {
    font-size: 20px;
}

.searchBtn {
    background-color: rgb(240, 18, 122);
    color: white;
}

.searchBtn:hover {
    background-color: #570735;
    color: white;
}

.cityBtn {
    width: 15vw;
    padding: 10px;
}

.cityBtn:hover {
    background-color: pink;
}

.city-name {
    font-size: 60px;
}

.extreme {
    background-color: purple;
    padding: 5px;
}

.very-high {
    background-color: red;
    padding: 5px;
}

.high {
    background-color: orange;
    color: black;
    padding: 5px;
}

.moderate {
    background-color: yellow;
    color: black;
    padding: 5px;
}

.low {
    background-color: green;
    padding: 5px;
}

.dayBlock {
    background-color: pink;
    margin-right: 5px;
    margin-left: 5px;
}

.tiny-icon {
    width: 50px;
}

.tiny-date {
    font-size: 22px;
}

.tiny-day {
    font-style: italic;
}


.forecast-header,
#current-date {
    font-size: 30px;
}

#weatherCol {
    padding-left: 50px;
    padding-right: 50px;
}

#city-info {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(126, 109, 121, 0.527);
    color: black;
}

#weather-icon {
    width: 225px;
    padding-top: 15px;
}

#bottom-row {
    padding-bottom: 100px;
}

@media only screen and (max-width: 991px) {
    .cityBtn {
        display: none;
    }
    .form-control,
    .searchBtn {
        margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: 767px) {
    .temp-data,
    .humidity-data,
    .wind-data,
    .uv-data {
        font-size: 20px;
    }
    .tiny-date {
        font-size: 40px;
    }
    .tiny-day,
    .tiny-temp,
    .tiny-humid {
        font-size: 20px;
    }
    .tiny-icon {
        width: 150px;
    }
    #weather-icon {
        width: 175px;
    }
  }

@media only screen and (max-width: 415px) {
    .display-4 {
        font-size: 75px;
    }
    #current-date,
    .forecast-header {
        font-size: 20px;
    }
    .city-name {
        font-size: 50px;
    }
  }

